. TITULO {
	color  :   anaranjado  verde ;
	familia  de  fuentes  :   'Bowlby One SC'  ,  cursiva ;
}

. sec_1 {
	margen  : 20 px ;
}
mesa {
	
	
}
. Titulo {
       alineaci ón de  texto  :  centro ;
	color  :  beige ;
	color  de  fondo  :  naranja ;
	familia  de  fuentes  :   'Bowlby One SC'  ,  cursiva ;
	
}
